@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

@font-face {
    font-family: Open_Sans;
    src: url(/fonts/Open_Sans/OpenSans-Regular.ttf);
}
@font-face {
    font-family: Open_Sans_Bold;
    src: url(/fonts/Open_Sans/OpenSans-Bold.ttf);
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
}

    .main .top-row {
        background-color: #f7f7f7;
        border-bottom: 1px solid #d6d5d5;
        justify-content: flex-end;
    }

        .main .top-row > a, .main .top-row .btn-link {
            white-space: nowrap;
            margin-left: 1.5rem;
        }

.main .top-row a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

    .sidebar .top-row {
        background-color: rgba(0,0,0,0.4);
    }

    .sidebar .navbar-brand {
        font-size: 1.1rem;
    }

    .sidebar .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

    .sidebar .nav-item {
        font-size: 0.9rem;
        padding-bottom: 0.5rem;
    }

        .sidebar .nav-item:first-of-type {
            padding-top: 1rem;
        }

        .sidebar .nav-item:last-of-type {
            padding-bottom: 1rem;
        }

        .sidebar .nav-item a {
            color: #d7d7d7;
            border-radius: 4px;
            height: 3rem;
            display: flex;
            align-items: center;
            line-height: 3rem;
        }

            .sidebar .nav-item a.active {
                background-color: rgba(255,255,255,0.25);
                color: white;
            }

            .sidebar .nav-item a:hover {
                background-color: rgba(255,255,255,0.1);
                color: white;
            }

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

@media (max-width: 767.98px) {
    .main .top-row:not(.auth) {
        display: none;
    }

    .main .top-row.auth {
        justify-content: space-between;
    }

    .main .top-row a, .main .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}

.tile-row {
    display:flex !important;
}

.tile-space {
    display:inline-flex;
    height:1.5rem;
    width:1.5rem;
    max-width:1.5rem;
    border:1px solid black;
    vertical-align:top;
    justify-content:center;
    align-items:center;
    overflow:hidden;
}

.tile-space .tile-container {
    background-color: wheat;
    width: 1.4rem;
    height: 1.4rem;
    position: relative;
    line-height: 1.5rem;
}

.tile-container-centre {
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    background-color: lightpink;
}

.double-letter .tile-container {
    background-color: paleturquoise;
}
.tripple-letter .tile-container {
    background-color: blue;
    color:white;
}
.double-word .tile-container {
    background-color: lightpink;
}
.tripple-word .tile-container {
    background-color: red;
    color:white;
}

.tile-content {
    text-align: center;
    font-family: 'Open_Sans_Bold';
    font-size: small;
    font-weight: bolder;
    max-width: 1.3rem;
    position: relative;
    left: -2px;
}

.tile-container-centre .tile-content {
    left: 0;
}

.tile-container-multiplier1, .tile-container-multiplier2, .tile-content-score {
    font-size: xx-small;
    position: absolute;
    line-height: 100%;
}

.tile-container-multiplier1 {
    bottom: 48%;
    right: 52%;
}

.tile-container-multiplier2 {
    top:48%;
    left:52%
}

.tile-content-score {
    top:1px;
    right:1px;
}

.player-tiles {
    margin-top: 2rem;
}

.game {
    text-align: center
}

.game .game-element-container div {
    display: inline-block;
}

.message {
    min-height: 7em;
    border: 2px solid black;
    margin: 2rem 20%;
    display: block;
}

.message p, .message h3 {
    text-align: center;
}

.message h3 {
    margin-top: 1.5rem;
}

.tile-container.tile-valid{
    color: dodgerblue
}

.tile-container.tile-invalid {
    color: red;
}

.tile-space.tile-selected {
    transform: scale(1.3);
}

.letter-selector button {
    width: 100%;
    margin-bottom: 1rem;
}